---
layout: archive
permalink: /mini-projects/
title: "Mini projects"
author_profile: true
redirect_from:
  - /wordpress/mini-projects/
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for mini_project in site.mini_projects %}
  {% capture year %}{{ mini_project.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
